backup:

{%- set date = salt['cmd.shell']('date +"%Y%m%d%H%M%S"') %}

  dropbox:
    token: stupidtoken

  rsync:
    /home/user1:
      target: /backup/user1
      excludefrom:
        path: /home/user1/.backup_rsync.exclude
        user: user1
        group: user1
        mode: 640
        contents:
         - '**/.*'
      additional_opts:
        - '-H'

  archive:
    /backup/system/system_{{date}}.tgz:
      format: tar
      excludefrom:
        path: /home/user1/.backup_system.exclude
        user: user1
        group: user1
        mode: 640
        contents:
          - '**/.*'
      encrypt:
        passphrase: stupidpassphrase
        recipient: foo@bar.com
      retention: 8
      sources:
        - /etc
        - /srv
      dropbox:
        path: /backup/system/system_{{date}}.tgz.sig
        token: stupidtoken
